.movies__elements{
  justify-content: center;
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  grid-column-gap: 24px;
  grid-row-gap: 30px;
  margin: 80px auto 30px;
  padding: 0;
}

.movies__add-button{
  font-style: normal;
  border: 1px solid #E8E8E8;
  border-radius: 7px;
  width: 320px;
  height: 36px;
  margin: 50px auto;
  padding: 0;
  background:  none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  color: #000000;
}

.movies__add-button_hide{
  display: none;
}

@media screen and (max-width: 768px) {
  .movies__elements{
    grid-column-gap: 30px;
    grid-row-gap: 36px;
  }
}

@media screen and (max-width: 350px) {
  .movies__elements{
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
  .movies__add-button{
    width: 240px;
  }
}