.notfaund{
  font-style: normal;
  text-align: center;
  height: 100%;

}

.notfaund__title{
  margin: 0 auto;
  padding-top: 246px;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;


}

.notfaund__description{
  margin: 0 auto;
  padding-top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.notfaund__button{
  margin: 0 auto;
  padding-top: 186px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2BE080;
  border: none;
  background-color: #fff;
  cursor: pointer;
}


@media screen and (max-width: 770px) {
  .notfaund__title{
    padding-top: 410px;
  }
}

@media screen and (max-width: 350px) {
  .notfaund__title{
    font-size: 80px;
    line-height: 97px;
    padding-top: 330px;
  }
  .notfaund__description{
    padding-top: 10px;
    font-size: 12px;
    line-height: 15px;
  }
  .notfaund__button{
    padding-top: 284px;
    font-size: 12px;
line-height: 15px;
  }
}
