.input__lable {
  margin: 0 auto;
  left: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  text-align: left;
}

.input__input {
  margin-top: 5px;
  padding: 0;
  border: none;
  width: 396px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  max-height: 32px;
  -webkit-box-shadow: inset 0 0 0 50px #fff;
  outline: 0 !important;
}

.input__field-error{
  margin: 6px 0 4px;
  height: 12px;
  font-size: 10px;
  line-height: 12px;
}

.input__field-error-active{
  color: #EE3465;
}

.input__line{
  margin: 10px auto 6px;
  border: 0;
  border-bottom: 1px solid;
  border-color: #E8E8E8;
}

.input__line-error{
  border-color: #EE3465;
}

.input__line-valid{
  border-color: #2BE080;
}

.input__line:first-of-type {
  margin: 10px auto 24px;
}
