.footer{
  background-color: white;
  align-items: center;
  justify-content: space-between;
  max-width: calc(1280px - 70px*2);
  padding: 0 70px;
  margin: 0 auto;
  font-family: 'Inter';
  font-style: normal;
  position: relative;
  bottom: 0;
}

.footer__title{
  padding-top: 70px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #A0A0A0;
}

.footer__information{
  border-top: 1px solid #E8E8E8;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.footer__copyright{
  margin-top: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__links{
  margin-top: 20px;
  list-style-type: none;
  display: flex;
}

.footer__link{
  margin-right: 20px;
}

.footer__link:last-child{
  margin-right: 0;
}

.footer__authors{
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}