.promo {
  align-items: center;
  background-color: #F5F5F5;
  max-width: 1200px;
  max-height: 493px;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
}

.promo__title {
  padding: 160px 235px 151px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0;

}

.promo__nav_links{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #000;
  list-style-type: none;
  padding: 0;
}

.promo_nav_link{
  font-weight: 550;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 96px;
  height: 36px;
  border-radius: 10px;
  background-color: #E8E8E8;
  margin-bottom: 30px;
}

.promo_nav_link:last-child{
  margin-right: 0;
}