@keyframes animation-scale {
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.02,1.02);
  }
  100% {
    transform: scale(1,1);
  }
}

.movie__element{
  list-style-type: none;
  margin: 0 auto;
  width: 364px;
  height: 271px;
  font-family: 'Inter';
  font-style: normal;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, .08);
  background: #FDFDFD;
}

.movie__element:hover{
  animation: animation-scale  .5s ease-in-out;
}

.movie__element-header{
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
}

.movie__element-info{
  margin-left: 14px;
  text-align: left;
}

.movie__element-title{
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.movie__element-duraption{
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  align-items: center;
  color: #A0A0A0;
}

.movie__element-saveButton{
  cursor: pointer;
  margin-right: 14px;
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  background-image: url("../../images/saveButton.svg");
}

.movie__element-saveButton-active{
  background-image: url("../../images/saveButtonActive.svg");
}

.movie__element-removeButton{
  cursor: pointer;
  margin-right: 14px;
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  background-image: url("../../images/x-icon.svg");
}

.movie__element-preview{
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .movie__element{
    width: 339px;
    height: 258px;
  }
  .movie__element-preview{
    width: 339px;
    height: 190px;
  }

}

@media screen and (max-width: 350px) {
  .movie__element{
    width: 300px;
    height: 236px;
  }
  .movie__element-preview{
    width: 300px;
    height: 168px;
  }
}