.header__link_movies {
  margin-right: 16px;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #000000;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #000000;
  transition: all 0.3s ease;
}

.header__link_movies:hover {
  opacity: 0.8;
}

.header__link_movies:last-of-type {
  margin-right: 0;
}
.header__link_movies-notactive {
  font-weight: 500;
}

.header__link_movies-active {
  font-weight: 700;
}

.header__link_movies-disabled {
  display: none;
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 768px) {
  .header__nav-movie{
    display: none;
  }
}

@media screen and (max-width: 320px) {

}
